<!DOCTYPE html>
<html ng-app="GithubByLocation">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>
<body ng-controller="GithubCtrl">

<img ng-src="{{flag}}" height="32">

<h1>Github {{country}}</h1>
<form ng-submit="search()">
    <div>
        <input type="text" id="ghusername" ng-model="username" placeholder="Cuenta github ">
           <span class="input-group-btn">
              <a href="#" id="ghsubmitbtn" ng-click="search()" class="btn btn-default">Buscar</a>
           </span>
    </div>
    <select ng-model="country">
        <option>bolivia</option>
        <option>CA</option>
        <option>oruro</option>
        <option>USA</option>
    </select>
</form>

<br/>
<img ng-src="{{user_image}}" height="200">
<h3>{{user.name}}</h3>
<br/>
Repositorios: {{user.public_repos}}<br/>
Seguidores: {{user.followers}}<br/>
Siguiendo: {{user.following}}<br/>



<script type="text/javascript">
    angular.module("GithubByLocation", []).controller(
            "GithubCtrl", function ($scope, $http) {
                $scope.hello = "Hola Mundo";
                $scope.country = "bolivia";
                $scope.flag = "http://www.nationsonline.org/flags/" + $scope.country + "_flag.gif";
                $scope.user_image = '';

                $scope.search =  function(){
                    $http.get("https://api.github.com/search/users?q=" + $scope.username + "+location:" + $scope.country)
                            .success(function(data){
                                $scope.user_image = data.items[0].avatar_url;
                                $scope.loadUserInfo(data.items[0].login);
                            }).error(function(data){
                                console.log(data);
                            });
                };

                $scope.loadUserInfo = function (username) {
                    $scope.userNotFound = false;
                    $scope.loaded = false;
                    $http.get("https://api.github.com/users/" + username)
                            .success(function (data) {
                                $scope.user = data;
                                $scope.loaded = true;
                            })
                            .error(function () {
                                $scope.userNotFound = true;
                            });

                    $http.get("https://api.github.com/users/" + username + "/repos").success(function (data) {
                        $scope.repos = data;
                        $scope.reposFound = data.length > 0;
                    });
                }

            }
    );
</script>
</body>
</html>
